{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <link rel="stylesheet" href="{% static 'css/login.css/' %}">
    <title>Login</title>
    <!-- Bootstrap Css -->


</head>

<body style="background-image:url('{% static 'image/2.jpg' %}');">
     {% block content %}
 <div class="forms">
                    <h2>REGISTER HERE</h2>
                    <input type="text" name="firstname" placeholder="Enter First Name">
                    <input type="text" name="lastname" placeholder="Enter Last Name">
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="password" placeholder="Enter password Here">
                    <input type="password" name="confirmpassword" placeholder="Enter Confirmpassword Here">
                   
                    <button class="btnn"><a href="#">login</a></button>
                    <p class="link">Already have an account?<br>
                    <a href="{% url 'login_page' %}">Login</a> here 
                    <p class="liw">Login with</p>
            </div>
            <!-- end login form -->
    {% endblock content %}

</body>

</html>