/* this is login css */

body{
          width: 100%;
          background: linear-gradient(to top,rgba(0,0,0.5)50%,rgba(0,0,0.5)50%),url();
          background-position: center;
          background-size: cover;
          height: 109vh;

}
.form{
          width: 250px;
          height: 380px;
          background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
          position: absolute;
          top: 115px;
          margin-left: 800px;
          border-radius: 10px;
          padding: 25px;
    
}

.form h2{
          width: 220px;
          font-family: sans-serif;
          text-align: center;
          color: #fff;
          font-size: 22px;
          background-color: #ff7200;
          border-radius: 5px;
          margin: 2px;
          padding: 8px;
          
}
.form input{
          width: 240px;
          height: 35px;
          background: transparent;
          border-bottom: 1px solid #ff7200;
          border-top:none;
          border-left: none;
          border-right: none;
          color:#fff;
          font-size: 15px;
          letter-spacing: 1px;
          margin-top: 30px;
          font-family: sans-serif;
          
}
.form input:focus{
          outline: none;
}
::placeholder{
          color: #fff;
      
          font-family: Arial;
}
.btnn{
          width: 240px;
          height: 40px;
          background: #fff;
          border:none;
          margin-top: 30px;
          font-size: 18px;
          border-radius: 50px;
         cursor: pointer;
         color: #fff;
         transition: 0.4s ease;
}
.btnn:hover{
          background: #ff7200;
          color: #ff7200;
}
.btnn a{
          text-decoration: none;
          color: #000;
}
.form .link{
          font-family: Arial, Helvetica, sans-serif;
          font-size: 17px;
          padding-top: 20px;
          text-align: center;
          color: #fff;
}
.form .link a{
          text-decoration: none;
          color: #ff7200;

}
.liw{
          padding-top: 15px;
          padding-bottom: 10%;
          text-align: center;
          color: #fff;
}

/* this is register css */
.forms{
          width: 250px;
          height: 580px;
          background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
          position: absolute;
          top: 115px;
          margin-left: 760px;
          border-radius: 10px;
          padding: 25px;


}

.forms h2{
          width: 220px;
          font-family: sans-serif;
          text-align: center;
          color: #fff;
          font-size: 22px;
          background-color: #ff7200;
          border-radius: 5px;
          margin: 2px;
          padding: 8px;
          
}
.forms input{
          width: 240px;
          height: 35px;
          background: transparent;
          border-bottom: 1px solid #ff7200;
          border-top:none;
          border-left: none;
          border-right: none;
          color:#fff;
          font-size: 15px;
          letter-spacing: 1px;
          margin-top: 30px;
          font-family: sans-serif;
  
}
.forms input:focus{
          outline: none;
}
::placeholder{
           color: #fff;

            font-family: Arial;
}
.btnn{
          width: 240px;
          height: 40px;
          background: #fff;
          border:none;
          margin-top: 30px;
          font-size: 18px;
          border-radius: 50px;
          cursor: pointer;
          color: #fff;
          transition: 0.4s ease;
}
.btnn:hover{
          background: #ff7200;
          color: #ff7200;
        }
.btnn a{
          text-decoration: none;
          color: #000;
}
.forms .link{
          font-family: Arial, Helvetica, sans-serif;
          font-size: 17px;
          padding-top: 20px;
          text-align: center;
          color: #fff;
}
.forms .link a{
          text-decoration: none;
          color: #ff7200;

}

/* end register css */

 /* The alert message box */
 .alert {
  width: 250px;
  padding: 20px;
  background-color: #c4b52e71; /* Red */
  color: white;
  margin-bottom: 15px;
  margin: auto;
  text-align: center;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
} 
